div{
    background-color: black;
    text-align: center;
    /* padding-top: 50px;
    padding-bottom: 50px; */
    padding: 30px 30px;
    
}
div>a{
    color: white;
    background-color: darkorange;
    text-decoration: none;
    padding: 5px 5px;
    border-radius: 10px;
    text-shadow: 0cqmax;
   
}
a:hover{
    background-color: blueviolet;
    box-shadow: 10px 5px 20px red;